$height: 38px;
$radius: 4px;
$color-grey: #cccccc;
$color-grey-dark: #999999;

.v2select {
  .v2select__controls {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-radius: $radius;
    min-height: $height;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    outline: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .v2select__values {
      display: flex;
      align-items: center;
      padding: 2px 8px;
      .v2select__search {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        width: 2px;
        background: red;
      }
    }
  }
  // Single

  // multiple
}


.v2select__buttons {
  display: inline-flex;
  align-items: flex-start;
  height: $height - 2px;
  align-self: stretch;
  .v2select__btn {
    cursor: pointer;
    margin: 0 0 0 1px;
    padding: 0;
    width: 35px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 0;
    color: $color-grey;
    background: none;
    position: relative;
    &:hover {
      color: $color-grey-dark;
    }
    &:last-child {
      border-radius: 0 $radius $radius 0;
    }
    &:not(:first-child)::before {
      content: "";
      height: 50%;
      width: 1px;
      background: $color-grey;
      left: -1px;
      position: absolute;
    }
  }
}

.v2select__icon {
  font-size: 17px;
}