$height: 40px;
$radius: 4px;
$color-grey-light: #e6e6e6;
$color-grey: #cccccc;
$color-grey-dark: #999999;
$color-grey-darker: #666666;
$color-primary: #2684FC;
$color-primary-light: rgba(38, 132, 252, 0.2);
$transition: 200ms;
$color-text: #333333;
$color-placeholder: #808080;

$danger: #de350b;
$danger-light: #ffbdad;


.v2select * {
  box-sizing: border-box;
}


.v2select {
  font-weight: 400;
  position: relative;
  text-align: left;
  .v2select__controls {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-radius: $radius;
    min-height: $height;
    position: relative;
    outline: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: $transition;
    width: 100%;
    &.v2select__controls--is-focused,
    &.v2select__controls--is-selected {
      border-color: $color-primary;
      box-shadow: $color-primary 0 0 0 1px;
      .v2select__buttons .v2select__btn {
        color: $color-grey-darker;
      }
    }

    .v2select__placeholder {
      color: $color-placeholder;
      margin: 0 2px;
    }
    .v2select__values {
      display: flex;
      align-items: center;
      padding: 2px 8px 2px 6px;
      flex-grow: 1;
      min-width: 0;
      .v2select__multi-values,
      .v2select__single-value {
        margin: 0 2px;
        max-width: calc(100% - 8px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $color-text;
      }
      .v2select__multi-values {
        width: 100%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        .v2select__multi-value {
          display: inline-flex;
          background: $color-grey-light;
          color: $color-text;
          margin: 2px;
          font-size: 90%;
          line-height: 24px;
          height: 24px;
          align-items: stretch;
          border-radius: 2px;
          overflow: hidden;
          .v2select__multi-label {
            padding: 3px 3px 3px 6px;
            align-self: center;
          }
          .v2select__multi-close {
            margin: 0;
            padding: 0 4px;
            border: none;
            display: inline-flex;
            align-items: center;
            background: none;
            cursor: pointer;
            font-size: 90%;
            &:hover {
              background: $danger-light;
              color: $danger;
            }
          }
          &:focus {
            background: rgba($color-primary, .2);
            box-shadow: 0 0 0 1px $color-primary inset;
            outline: none;
          }
        }
      }
    }
  }
  // Single

  // multiple
}

/**
 * Buttons
 */

.v2select__buttons {
  display: inline-flex;
  align-items: flex-start;
  height: $height;
  align-self: stretch;
  width: 37px;
  position: relative;
  border: 1px solid transparent;
  margin-right: 0;
  &::before {
    content: "";
    height: 50%;
    width: 1px;
    background: $color-grey;
    left: -1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .v2select__btn {
    font-size: 17px;
    right: 0;
    cursor: pointer;
    margin: 0 0 0 1px;
    padding: 0;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 0;
    color: $color-grey;
    background: none;
    transition: $transition;
    position: absolute;
    background: white;
    &:focus {
      color: $color-primary !important;
    }
    &:hover {
      color: $color-grey-dark;
    }
  }
}

/**
 * Dropdown
 */

.v2select__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 999;
  background: white;
  border: 1px solid $color-grey;
  margin-top: 5px;
  border-radius: $radius;
  box-shadow: 0 0 10px rgba(black, .1);
  padding: 4px 0;
  max-height: 300px;
  overflow: hidden auto;
  .v2select__dropdown-inner {
    list-style: none;
    padding: 0;
    margin: 0;
    .v2select__dropdown-placeholder,
    .v2select__dropdown-item {
      margin: 0 0 0 -1px;
      background: none;
      border: none;
      display: block;
      width: calc(100% + 2px);
      text-align: left;
      padding: 8px 10px;
      border-radius: 0;
      transition: $transition;
      cursor: pointer;
      &.v2select__dropdown--is-focused {
        background: rgba($color-primary, .2);
      }
      &.v2select__dropdown--selected {
        color: white;
        background: $color-primary;
      }
      &.v2select__dropdown--is-disabled {
        opacity: .4;
        cursor: not-allowed;
      }
    }
    .v2select__dropdown-placeholder {
      pointer-events: none;
      color: $color-placeholder;
      text-align: center;
    }
  }
}
